p  {
    background-color: grey;
}
.p1 {
    background-color: orange;
}
.p2 {
    background-color: blue;
}
.p3 {
    background-color: white;
    font-family: monospace;
}
.p4 {
    font-weight: bold;
}